<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<html>
<head>
    <meta charset="UTF-8">
    <title>登录页面</title>
    <link>
    <!-- jquery  bootstrap-->
    <script th:src="@{/jquery/jquery-3.3.1.js}"></script>
    <link rel="stylesheet" type="text/css"  th:href="@{/bootstrap/bootstrap.css}">
    <script th:src="@{/bootstrap/bootstrap.js}"></script>

    <!-- 自定义 -->
    <link rel="stylesheet" type="text/css"  th:href="@{/css/login.css}">
    <script th:src="@{/js/login.js}"></script>

    <script>
        $(function () {
            $("#btn").click(function () {
                console.log("token 请求");
                var requestData = {
                    "username":"",
                    "password":"",
                    "grant_type":"password",
                    "scope":"select",
                    "client_id":"client_2",
                    "client_secret":"123456"
                };
                requestData.username = $("#username").val();
                requestData.password = $("#password").val();
                console.log("requestData.username = " + requestData.username);

               // $.ajax({url:"/oauth/token?username=admin1&password=123456&grant_type=password&
                // scope=select&client_id=client_2&client_secret=123456",
                $.ajax({url:"/oauth/token",
                    data: requestData,
                    type:"POST",
                    success:function(result){
                        console.log("token 请求成功......");
                        console.log(result.access_token);
                    }});
            })

            $("#btn-order").click(function () {
                console.log("order 请求");
                $.ajax({url:"/order/1",
                    type:"get",
                    success:function(result){
                        console.log("order 请求成功......");
                        console.log(result);
                    }});
            })

            $("#btn-buy").click(function () {
                console.log("buy 请求");
                $.ajax({url:"/buy/1",
                    type:"get",
                    success:function(result){
                        console.log("buy 请求成功......");
                        console.log(result);
                    }});
            })

        })
    </script>

</head>
<body>
<div>

    <a th:href="@{/}">Home</a>
    退出成功！！！！！！！！！！！！！！！！！！！

    <div>
        <button id="btn-order" type="button">order
        </button>
    </div>
    <div>
        <button id="btn-buy" type="button">buy
        </button>
    </div>

</div>
</body>

</html>