<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link>
    <!-- jquery  bootstrap-->
    <script th:src="@{/jquery/jquery-3.3.1.js}"></script>
    <link rel="stylesheet" type="text/css"  th:href="@{/bootstrap/bootstrap.css}">
    <script th:src="@{/bootstrap/bootstrap.js}"></script>

    <!-- 自定义 -->
    <link rel="stylesheet" type="text/css"  th:href="@{/css/login.css}">
    <script th:src="@{/js/login.js}"></script>

</head>
<body>
打是否第三方啊是否的埃弗顿
</body>

</html>